* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(226, 240, 252);
}

#navbar {
    display: flex;
    top: 0;
    position: sticky;
    /* do top: 0; position: sticky; to keep the navigation bar sticky during scrolling */
    font-family: 'Baloo Bhai 2', cursive;
}

#logo {
    margin-left: 34px;
    margin-right: 23px;
    margin-top: 8px;
    margin-bottom: 8px;
}

#logo img {
    height: 50px;
}

#navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul a {
    display: block;
    padding: 3px;
    text-decoration: none;
    margin: 14px;
    color: white;
    font-size: 17px;
}

#navbar ul a:hover {
    color: rgb(135, 217, 240);
}

#navbar ul a:active {
    color: rgb(0, 183, 255);
}

#navbar::before {
    content: "";
    background-color: rgb(79, 79, 79);
    position: absolute;
    z-index: -1;
    height: 70px;
    /* logo img height + logo top margin + logo bottom margin */
    /* next, adjusted during design of second section */
    width: 100%;
    opacity: 0.5;
}

#body::before {
    content: "";
    background: url('backgroun.jpg') no-repeat center center/cover;
    top: 0;
    /* needs to adjust during design the second section */
    position: absolute;
    z-index: -1;
    height: 500px;
    /* needs to adjust during design the second section */
    width: 100%;
    opacity: 0.9;
}

#body {
    height: 424px;
    /* needs to adjust during design the second section */
    /* mainly adjust first section height and background image height to set the elements of second section properly */
    /* Total website height : navbar heoght + first section height + second section height */
    /* Background image height is not counted because it is in background (z-index)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: 'Baloo Bhai 2', cursive;
}

#body h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 8px;
}

#body p {
    font-size: 1.1rem;
    padding: 3px;
    text-align: center;
}

.btn {
    font-size: 18px;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 9px;
    border-radius: 22px;
    color: yellow;
    background-color: red;
    border: 2px solid brown;
}

.btn:hover {
    cursor: pointer;
    color: rgb(251, 255, 11);
    background-color: rgb(255, 81, 0);
}

.btn:active {
    color: yellow;
    background-color: red;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Bhai 2', cursive;
    background-color: rgb(226, 240, 252);
}

.serve {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.division img {
    height: 300px;
}

.division {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 5px;
    border: 4px solid black;
    border-radius: 35px;
    margin: 5px;
    margin-bottom: 41px;
    /* background-color: rgb(244, 247, 250); */
    background-color: rgb(255, 235, 235);
}

.division:hover {
    background-color: rgb(254, 221, 221);
    border: 4px solid rgb(251, 91, 91);
}

#services h1 {
    margin-top: 10px;
    padding: 5px;
    font-size: 2.5rem;
}

#sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    margin-top: -12px;
    font-family: 'Baloo Bhai 2', cursive;

}

#brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* margin: 45px; */
}

.brandLogo {
    margin: 0px 15px;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 48px;
    margin-right: 48px;
}

.brandLogo img {
    height: 135px;
    padding: 15px;
}

#sponsor h1 {
    margin: 22px;
    padding: 5px;
    font-size: 2.7rem;
    color: white;
}

#sponsor::before {
    content: "";
    position: absolute;
    background: url('background_2.jpg') no-repeat center center/cover;
    z-index: -1;
    height: 324px;
    width: 100%;
    opacity: 0.9;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 13px;
    font-family: 'Baloo Bhai 2', cursive;
}

#fillup form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details input,
textarea {
    width: 500px;
    padding: 3px;
    border-radius: 7px;
    border: 2px solid black;
    font-family: 'Baloo Bhai 2', cursive;
}

#fillup {
    font-size: 20px;
}

.details {
    margin: 5px;
}

#form h1 {
    font-size: 1.9rem;
    margin: 13px;
}

.submit button {
    width: 70px;
    padding: 5px;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid black;
    background-color: rgb(87, 198, 249);
    font-family: 'Baloo Bhai 2', cursive;
}

.submit button:hover {
    color: rgb(0, 21, 255);
    background-color: rgb(162, 226, 255);
    border: 2px solid rgb(162, 226, 255);
}

.submit button:active {
    color: white;
    background-color: rgb(0, 64, 255);
    border: 2px solid rgb(0, 64, 255);
}

#form::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url('contact_background.webp') no-repeat center center/cover;
    width: 100%;
    height: 800px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-family: 'Baloo Bhai 2', cursive;
}